img {
	max-width: 100%;
	}
img.member {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
	max-height: calc(100vh - 60px);
	width: auto;
	height: auto;
  object-fit: contain;
	}

img.bg-image {
	max-height: 100vh;
	width: 100%;
	height: auto;
	object-fit: cover;
	width: fit-content;
}

.years {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    opacity:0.5;
}

body {
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.member-caption{
    text-align: center;
    color: darkorange;
    text-shadow: -2px -2px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.member-caption h4,
.member-caption h5 {
  white-space: pre-wrap;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}

.carousel-control-next,
.carousel-control-prev {
  filter: drop-shadow(0 0 1px black);
  transition-property: filter;
  transition-duration: .1s;
  transition-timing-function: ease;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
  filter: drop-shadow(0 0 1px black) drop-shadow(0 0 3px rgba(0, 0, 0, .4));
}